$themes: (
    default: (
        primary-color: #333333,
        background-color: #FAFAFA,
        background-cover: rgba(51, 51, 51, 0.3),
        price-color: #BA3838
    ),
    septwolves: (
        primary-color: #FF3636,
        background-color: #FAFAFA,
        background-cover: rgba(255, 54, 54, 0.3),
        price-color: #BA3838
    ),
    ballon-ecshop: (
        primary-color: #2BA4F3,
        background-color: #FAFAFA,
        background-cover: rgba(43, 164, 243, 0.3),
        price-color: #BA3838,
    )
)
